<h1>Create a Blog Post!</h1>

<form method="POST" action="/posts">
  <label>Blog Post Name: <input type="text" name="name"></label><br>
  <label>Blog Post Content: <input type="text" name="content"></label>
  <input type="submit" value="submit">
</form>
